body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-color: #000;/* Evita che il contenuto oltrepassi i bordi del container */
}

canvas {
    max-width: 100%; /* Impedisce al canvas di superare i bordi del container */
    max-height: 100%; /* Impedisce al canvas di superare i bordi del container */
    width: auto;
    height: auto;
}

/* Stili per contatore bombe */
#bombsCounter {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

/* Stili per dispositivi mobili */
@media only screen and (max-width: 600px) {
    canvas {
        width: 90vw; /* Utilizza il 90% della larghezza dello schermo su dispositivi mobili */
        max-width: 90%; /* Limita la larghezza massima del canvas */
    }
}
