body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

canvas {
    display: block; /* Assicurati che il canvas sia un blocco per consentire la larghezza e l'altezza complete */
    width: 100vw; /* Imposta la larghezza del canvas pari alla larghezza del viewport */
    height: 100vh; /* Imposta l'altezza del canvas pari all'altezza del viewport */
}

#bombsCounter {
    position: absolute;
    top: 10px; /* Regola la distanza dal top dello schermo */
    right: 10px; /* Regola la distanza dal lato destro dello schermo */
    background-color: rgba(255, 255, 255, 0.5); /* Aggiungi un background trasparente */
    padding: 5px 10px; /* Aggiungi spazio intorno al testo */
    border-radius: 5px; /* Aggiungi bordi arrotondati */
    font-size: 16px;
    font-weight: bold;
}
